ion-header{

    ion-item{
        h1 {
            font-weight: bold;
            font-size: 18px;
        }
    }
}

#form {
    ion-item{
        padding-bottom:5px;
    }
    ion-label{
        text-indent: 5%;
        font-family: 'poppins';
    }
    ion-input{
        text-indent: 5%;
        text-align: left;
        font-family: 'poppins';
        border-radius: 10px;
        --background: white;
    }
    ion-button{
        padding-left: 10px;
        padding-right: 10px;
    }
    h4{
        font-weight: bold;
        font-size: 15px;
        margin-left: 30px;
        margin-bottom: -5px;
    }
    ion-icon{
        margin-left:10px;
    }
}

.container {
    margin-top: -10px;
    h4 {
        font-weight: bold;
        font-size: 15px;
        margin-left: 25px;
    }
    img{
        width: 110px;
        height: 95px;
        border-radius: 12px;
    }

    h2 {

        font-weight: 600;
        margin-left: 10px;
        font-size: 15px; 
    }

    h3{
        margin-left: 10px;
        font-size: 15px;
    }

    p{
        margin-left: 10px;
        font-size: 15px;
    }

    ion-label {
        .tambah {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin-left: 10px;

            ion-button {
                --color: #565656;
                font-size: 15px;
                font-weight: bold;
                margin-left: 8px;
                margin-right: 8px;
            }

            ion-label {
                margin-left: 5px;
                margin-right: 5px;
                color: #565656 !important;
                font-size: 13px;
            }
        }
    }
}
