ion-header{

    ion-item{
        h1 {
            font-weight: bold;
            font-size: 18px;
        }
    }
}
.container {

                h1{
                    font-weight: bold;
                    font-size: 20px;
                    padding-top: 5px; 
                }
}