<ion-header>
  <ion-item lines="none" color="birupucet">
    <ion-avatar slot="end"></ion-avatar>
    <ion-label>
      <ion-buttons slot="start">
      <ion-button routerLink="/dashboard-owner" routerDirection="back">
        <img src="../../assets/back aja.svg" />  
      </ion-button>
      <h1>Input barang</h1>
      </ion-buttons>
    </ion-label>
  </ion-item>
</ion-header>

  <ion-content class="padding has-header" color="birupucet">
    <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-list> 
          <ion-item>
            <ion-label>
              <h1>Nama bulan</h1>
              <h3>Pemasukan: </h3>
              <h3>Pengeluaran: </h3>
            </ion-label>
          </ion-item>
      </ion-list>    
      </ion-card-header>
      </ion-card>
    </div>
</ion-content>
