<ion-header>
  <ion-toolbar>
    <ion-title>Pengaturan</ion-title>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/setting-profil" routerDirection="back">
        <img src="../../assets/back aja.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
      <ion-button (click)="showAlert()" expand="block" class="main-button" routerLink="#" routerDirection="forward" color="tertiary">Ubah Kata Sandi</ion-button>
      <ion-button (click)="showAlert2()"expand="block" class="main-button" routerLink="#" routerDirection="forward"color="tertiary">Ubah Nama Pengguna</ion-button>
    </div>
    </ion-content>

