<ion-header class="ion-no-border">
  <ion-item lines="none" color="birupucet">
    <ion-avatar slot="end">
      <img src="../../assets/fotoku kotak.jpg" routerLink="/setting-profil" routerDirection="forward">
    </ion-avatar>
    <ion-label>
      <h1>Dashboard</h1>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content color="birupucet">
  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-card color="tertiary" text-center padding>
          <img src="../../assets/menu/cat 1.jpg" 
          routerLink="/perekapan-barang" routerDirection="forward" />
          <h4 class="ion-text-center">perekapan</h4>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card color="danger" text-center padding >
          <img src="../../assets/menu/cat 2.jpg" 
          routerLink="/input-barang" routerDirection="back"/>
          <h4 class="ion-text-center"> input barang</h4>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-4>
        <ion-card color="success" text-center padding >
          <img src="../../assets/menu/cat 3.jpg"
          routerLink="/daftar-karyawan" routerDirection="forward"  />
          <h4 class="ion-text-center">karyawan</h4>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card color="warning" text-center padding>
          <img src="../../assets/menu/cat 4.jpg"
          (click)="PilihanTransaksi()" routerDirection="forward" />
          <h4 class="ion-text-center">transaksi baru</h4>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-label>
    <h2>Daftar pesanan</h2>
  </ion-label>
  
  <div class="container">

    <ion-card>
      <ion-label>
        <h3>Rapat bulanan</h3>
        <h4>27 Maret 2021</h4>
        <h4>50 Porsi</h4>
      </ion-label>
    </ion-card>

    <ion-card>
      <ion-label>
        <h3>Rapat bulanan</h3>
        <h4>27 Maret 2021</h4>
        <h4>50 Porsi</h4>
      </ion-label>
    </ion-card>

    <ion-card>
      <ion-label>
        <h3>Rapat bulanan</h3>
        <h4>27 Maret 2021</h4>
        <h4>50 Porsi</h4>
      </ion-label>
    </ion-card>

    <ion-card>
      <ion-label>
        <h3>Rapat bulanan</h3>
        <h4>27 Maret 2021</h4>
        <h4>50 Porsi</h4>
      </ion-label>
    </ion-card>
  </div>
</ion-content>