<ion-header>
  <ion-toolbar color="birupucet">
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="birupucet">
  <ion-slide class="ion-padding">
    <img src="../../assets/pilihan.svg" >

    <div class="penjelasan">
      <p>
        Silahkan pilih jenis transaksi
        mana yang akan anda gunakan.
      </p>
    </div>

    <ion-button color="primary" class="main-button" (click)="pesanan()">Transaksi Pesanan</ion-button>
    <ion-button color="warning" class="main-button" (click)="langsung()">Transaksi Langsung</ion-button>
  </ion-slide>
</ion-content>
