<ion-header>
  <ion-toolbar color="birupucet">
    <ion-title>Profil</ion-title>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/dashboard-owner" routerDirection="back">
        <img src="../../assets/back aja.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="birupucet">
  <div id="header">
    <img src="../../assets/fotoku kotak.jpg" >
    <ion-label *ngIf="userData != undefined && authData != undefined">
      <h1>{{userData.nama}}</h1>
      <h3>{{authData.email}}</h3>
      <p>Jln. Wirosaban, No 14. Yogyakarta</p>
    </ion-label>
  </div>

  <div><ion-button expand="block" class="main-button"routerLink="./tentang-kami">Tentang Kami</ion-button></div>
  <div><ion-button expand="block" class="main-button"routerLink="./pengaturan">Pengaturan</ion-button></div>

  <div><ion-button expand="block" class="main-button" routerLink="./hubungi-kami">Hubungi Kami</ion-button></div>

  <div><ion-button expand="block" class="main-button"color="danger"(click)="logout()">Keluar</ion-button></div>
</ion-content>
