.backbtn {
    margin-left: 20px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    
        h1 {
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        color: #010100;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      h3 {
          text-align: center;
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 5px;
      }
      p {
          margin-bottom: 10px;
      }
  
      img {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        border: 3px solid #f5369f;
      }
}
