<ion-header>
  <ion-toolbar>
    <ion-title>Hubungi Kami</ion-title>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/setting-profil" routerDirection="back">
        <img src="../../assets/back aja.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item color="putih">
      <ion-label position="floating">Description</ion-label>
      <br>
      <ion-label position="floating"><ion-icon name="mail-open">gmail</ion-icon>Kontak Pengembang</ion-label>
          <br>
        <h7>
          rafif1700016059@webmail.uad.ac.id
          regina1800016055@webmail.uad.ac.id
          adelia1800016056@webmail.uad.ac.id
          putri1800016099@webmail.uad.ac.id
          gallang1800016063@webmail.uad.ac.id
          </h7>
      <br>
      
     
      <ion-label position="floating"><ion-icon name="logo-github">git hub</ion-icon>Alamat Kami</ion-label>
      <br>
      <h7> in their respective homes with gitlab</h7> 
      <hr>
      <hr>
      
     


      <hr>
      <hr>
      <hr>
    
    </ion-item>
  </ion-content>

