// hapus garis header
ion-toolbar {
    --border-width: 0 !important;
}

// hapus garis header
.header-md::after {
    background: none !important;
}

.container h1 {
    margin-top: 0;
}

.backbtn {
    margin-left: 20px;
}

.page-header h1 {
    text-align: center;
    font-family: quicksand-bold;
    font-size: xx-large;
    margin-top: 10;
  }
  
  .page-header h3 {
    text-align: center;
    padding: 5%;
    font-size: large;
  }

.form-container {
    margin-top: 10px;
    font-family: quicksand;
}

.form-container ion-item {
    --padding-start: 0;
    --border-color: #DADADA;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 1px 8px 8px 0px rgba(214, 0, 161, 0.05);
}

.form-container ion-item ion-label {
    color: #A6A6A6;
    font-family: quicksand;
}

.form-container ion-item ion-icon {
    margin-top: auto;
    color: #c6cbd4;
}

.form-container ion-button {
    margin-top: 20px;
}
