<ion-header class="ion-no-border">
  <ion-item lines="none" color="birupucet">
    <ion-avatar slot="end"></ion-avatar>
    <ion-label>
      <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/dashboard-owner" routerDirection="back">
        <img src="../../assets/back aja.svg" />  
      </ion-button>
      <h1>Pesanan Langsung</h1>
      </ion-buttons>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content color="birupucet">
  <h4> Menu Makanan</h4>
<p></p>
<ion-list *ngFor="let data of data_makan;let i = index">
  <ion-item color="birupucet">
      <img src="{{data.url == undefined ? '../../assets/geprek.jpg':data.url}}">
    <ion-label >
      <h2>{{data.nama}}</h2>
      <h3>{{data.harga}}</h3> 
      <p>{{data.stok}}</p>
      <!-- Button tambah-->
      <div class="tambah">
        <ion-button color="light" (click)="hapus(i, data)">-</ion-button>
        <ion-label>{{data.jumlah}}</ion-label>
        <ion-button color="light" (click)="tambah(i)">+</ion-button>
      </div>
    </ion-label>
  </ion-item>

 


</ion-list  >
</ion-content>

<ion-footer class="ion-no-border" *ngIf="dataPesanan.length != 0">
  <ion-item color="birupucet" lines="none">
    <ion-card color="tertiary" slot="start" (click)="pesan()">
      <ion-label>
        <h3>Jumlah Produk {{dataPesanan.length}}</h3>
       <h3>detail</h3>
      </ion-label>
    </ion-card>
  </ion-item>
</ion-footer>