ion-header{

    ion-item{
        h1 {
            font-weight: bold;
            font-size: 18px;
        }
    }
}

ion-content{

    h4{
        font-weight: bold;
        font-size: 15px;
        margin-left: 30px;
    }

    img{
        width: 110px;
        height: 95px;
        border-radius: 12px;
    }

    h2 {

        font-weight: 600;
        margin-left: 10px;
        font-size: 15px; 
    }

    h3{
        margin-left: 10px;
        font-size: 15px;
    }

    p{
        margin-left: 10px;
        font-size: 15px;
    }

    ion-label {
        .tambah {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            margin-left: 10px;

            ion-button {
                --color: #565656;
                font-size: 15px;
                font-weight: bold;
                margin-left: 8px;
                margin-right: 8px;
            }

            ion-label {
                margin-left: 5px;
                margin-right: 5px;
                color: #565656 !important;
                font-size: 13px;
            }
        }
    }
}

ion-footer {
    ion-card {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-top: 10px;

        h3 {
            margin-left: 10px;
            margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 550;
            font-size: 15px;
        }
      }
}