<ion-header>
  <ion-toolbar color="birupucet">
    <ion-title>Tentang-kami</ion-title>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/setting-profil" routerDirection="back">
        <img src="../../assets/back aja.svg" />
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="birupucet">
  <ion-chip outline color="tertiary">
   <ion-icon name="information-outline"></ion-icon>
    <ion-label>Information Aplication</ion-label>
  </ion-chip>
  <ion-item>
    <br>
    
    <ion-icon name="bulb-outline"></ion-icon>
    <ion-label position="floating">Awal Mula iCanteen</ion-label>
        <br>   
      <h7>Kami rasa perkembangan teknologi dewasa ini
      sangatlah cepat. semua hal terintegrasi dengan internet
      termasuk kantin anda. Ya benar! kami akan membawa kantin
      anda ke era baru, masa depan !
        </h7>
    <br>
    <ion-label position="floating">Kantin Masa Depan</ion-label>
    <br>
    <h7>Selamat datang di era digital, semua hal akan saling
      terkoneksi dalam genggaman anda. iCanteen hadir menjawab 
      kebutuhan digitalisasi, menawarkan solusi untuk kantin anda.
      Karena iCanteen, kantin masa depan didepan anda. 
      <br>
      <br>
      Dengan iCanteen semua hal menjadi mudah !!!
    </h7>
  
  </ion-item>
</ion-content>
