ion-header{

    ion-item{
        h1 {
            font-weight: bold;
            font-size: 18px;
        }
    }
}

#form {
    ion-item{
        padding-bottom:5px;
    }
    ion-label{
        text-indent: 5%;
        font-family: 'poppins';
    }
    ion-input{
        text-indent: 5%;
        text-align: left;
        font-family: 'poppins';
        border-radius: 10px;
        --background: white;
    }
    ion-button{
        padding-left: 10px;
        padding-right: 10px;
    }
    ion-select{
        text-indent: 5%;
        color: rgb(0, 0, 0);
        background-color: white;
        border-radius: 10px;
    }
    ion-button{
        margin-top: 10px;
    }
}