<ion-header>
  <ion-item lines="none" color="birupucet">
    <ion-avatar slot="end"></ion-avatar>
    <ion-label>
      <ion-buttons slot="start">
      <ion-button routerLink="/dashboard-owner" routerDirection="back">
        <img src="../../assets/back aja.svg" />  
      </ion-button>
      <h1>Input barang</h1>
      </ion-buttons>
    </ion-label>
  </ion-item>
</ion-header>

<ion-content color="birupucet">
  <form id="form">
    <ion-item color="birupucet" lines="none">
      <ion-label position="stacked">Nama makanan/minuman</ion-label>
      <ion-input [(ngModel)]="post.nama" name="first" required></ion-input>
    </ion-item>
    <ion-item color="birupucet" lines="none">
      <ion-label position="stacked">Harga</ion-label>
      <ion-input [(ngModel)]="post.harga" name="first" required></ion-input>
    </ion-item>
    <ion-item color="birupucet" lines="none">
      <ion-label position="stacked">keterangan</ion-label>
      <ion-select value="brown" okText="Okay" cancelText="Batal" [(ngModel)]="post.keterangan" name="first" placeholder="klik disini" required>
        <ion-select-option>data_makan</ion-select-option>
        <ion-select-option >data_minum</ion-select-option>
  
      </ion-select>
         </ion-item>
    <ion-item color="birupucet" lines="none">
      <ion-label position="stacked">Jumlah</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Batal" [(ngModel)]="post.stok" name="first" placeholder="klik disini" required>
          <ion-select-option>1</ion-select-option>
          <ion-select-option >2</ion-select-option>
          <ion-select-option >3</ion-select-option>
          <ion-select-option >5</ion-select-option>
          <ion-select-option>10</ion-select-option>
        </ion-select>
      </ion-item>
    <ion-button expand="block" class="main-button" (click)="add()">Masukkan barang</ion-button>

    <ion-button expand="block" class="main-button" color="success"
    routerLink="./stok-barang" routerDirection="forward" >Lihat stok barang</ion-button>  
  </form>
</ion-content>
