<ion-header>
  <ion-toolbar color="birupucet">
    <ion-title>Daftar Karyawan</ion-title>
      <ion-buttons slot="start">
    <ion-button class="backbtn" routerLink="/dashboard-owner" routerDirection="back">
      <img src="../../assets/back aja.svg" />
    </ion-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content class="padding has-header" color="birupucet">
<ion-card>
  <ion-card-header>
    <ion-list *ngFor = "let data of users"> 
      <ion-item>
        <ion-label>{{data.nama}}<br>{{data.role}}</ion-label>
        <ion-label>
          <ion-button color="danger">delete</ion-button>
        </ion-label>
      </ion-item>
  </ion-list>    
  </ion-card-header>
  </ion-card>
</ion-content>
