<ion-header class="ion-no-border">
  <ion-item lines="none" color="birupucet">
    <ion-avatar slot="end"></ion-avatar>
    <ion-label>
      <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/transaksi-langsung" routerDirection="back">
        <img src="../../assets/back aja.svg" />  
      </ion-button>
      <h1>Rincian Pembayaran</h1>
      </ion-buttons>
    </ion-label>
  </ion-item>
</ion-header>

<!--warna backround-->
<ion-content color="birupucet">

  <!--menu makanan pesanan-->
  <ion-list  *ngFor="let data of data_pesanan">
    <ion-item color="birupucet">

      <ion-avatar slot="start">
        <img src="{{data.url == undefined ? '../../assets/geprek.jpg':data.url}}" >
      </ion-avatar>

      <ion-label >
        <h2>pesanan</h2>
        <h3>{{data.nama}}</h3> 
        <p>stok : 15 porsi </p>
        <!-- Button tambah-->
          <ion-badge color="medium">2</ion-badge>
      </ion-label>
    </ion-item>

  
  <ion-item color="birupucet">
    <p></p>
    <p></p>
  </ion-item>

<ion-item color="birupucet">
    <!---rincian pembayaran-->
  <ion-label>
    <h2>Subtotal    : Rp. xxxxxx</h2>
    <h2>PPN         : Rp. xxxxxx</h2>
  </ion-label>
</ion-item>

  <ion-item color="birupucet">
    <ion-label>
      <h2>Total Harga : </h2>
    </ion-label>
  </ion-item>

    <br>

  </ion-list>
</ion-content>

