<ion-header>
  <ion-toolbar>
    <ion-title>stok-barang</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding has-header" color="birupucet">
  <ion-card>
    <ion-card-header>
      <ion-list *ngFor = "let Post of data_makan"> 
        <ion-item>
          <ion-label>{{Post.nama}}<br>{{Post.harga}}<br>{{Post.stok}}</ion-label>
          <ion-label>
            <ion-button color="danger" (click)="delete(post.id)">delete</ion-button>
          </ion-label>
        </ion-item>
    </ion-list>    
    </ion-card-header>
    </ion-card>
  </ion-content> 
  