ion-item {
    --background: rgba(248, 248, 250, .96);

    ion-avatar {
      margin-top: 10px;
    }

    h1 {
      margin-left: 10px;
      font-weight: 1000;
      font-size: 23px;
      padding-top: 20px;
    }
  }

  ion-grid {
    margin-bottom: -10px;
  
    ion-card{
      width: 85%;
      height: 120px;
      margin-top: 5px;
      margin-right: 5px;
      border-radius: 15px;
  
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      top: 0;
      left: 0;
     z-index: -1;
    }
    h4 {
      font-weight: 900;
      color: #ffffff;
      margin-top: 25%;
  
      }
    }
  }
  
  ion-label {
    h2 {
      margin-left: 30px;
      font-weight: bold;
      font-size: 18px;
    }
  }
  
  .container {
  
    ion-card {
      width: 90%;
      height: 85px;
      margin-left: 20px;
      margin-top: 10px;
      border-radius: 10px;
    }
  
    ion-label {
  
      h3 {
        margin-left: 10px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 16px;
      }
  
      h4 {
        margin-left: 10px;
        margin-top: 5px;
        font-weight: normal;
        font-size: 13px;
      }
    }
  }