.container {
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.page-header h1 {
  font-family: quicksand-bold;
  font-size: xx-large;
  margin-top: 5;
}

.page-header h3 {
  padding: 3%;
  font-size: large;
}


.logo {
  margin-top: 10px;
}