<ion-header>
 
</ion-header>

<ion-content class="ion-padding ion-text-center" color="dark">
  <div class="container">
    <div class="page-header">
      <h1>iCanteen</h1>
      <h3>kantin masa depan ada di depan anda</h3>
      <ion-button color="blue" fill="clear" routerLink="/login" routerDirection="forward" color="secondary">masuk sekarang</ion-button>
      <img src="../../assets/burger.png" class="logo"/>
    </div>
  </div> 
  
</ion-content>
